:root {
    --dark: #1a1a1a;
    --ligth: #ffffff;
    --gray: #d3d3d3;
    --blue: blue;
}

section {
    height: 300px;
    width: 80%;
    margin-left: 10%;
}

.tituloloading {
    text-align: center;
}

.loading1 {
    background-color: var(--dark);
}

.loading2 {
    background-color: var(--ligth);
    border: 1px solid var(--blue);
    border-radius: 5px;
}

.linkcode {
    font-size: 20px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}