.menu{
    width:100%; 
    display:flex; 
    justify-content:space-between;
    padding: 1rem;
    margin: 0rem;
}

.footer{
    width:100%; 
    display:flex; 
    justify-content:space-between;
    padding: 1rem;
    margin: 0rem;
}

body{
    overflow-x: hidden;
}

.anuncioH{
    height: 200px;
    width: 100%;
}

.anuncioV{
    height: 400px;
    width: 100%;
}