@font-face {
    font-family: ShinyTitle;
    src: url(../../fonts/Shiny\ Kids.otf);
}

@font-face {
    font-family: ShinyText1;
    src: url(../../fonts/SourGummy-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: ShinyText2;
    src: url(../../fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}

body {
    background-image: url("../../images/bebe/Fondo.jpg");
    width: 100%;
    background-size: initial;
    background-attachment: fixed;
}

.shadowP {
    background-color: white;
    border-radius: 30px !important;
    box-shadow: 0px 0px 10px 0px gray !important;
}

.shadowO {
    background-color: orange;
    border-radius: 15px !important;
    width: 70%;
    position: absolute;
    z-index: 1;
    right: 15%;
    bottom: 95%;
}

.shadowB {
    background-color: #48a4c5;
    border-radius: 15px !important;
    width: 70%;
    position: absolute;
    z-index: 1;
    right: 10%;
    bottom: 90%;
}

.shadowBText {
    background-color: #48a4c5;
    border-radius: 30px !important;
    padding: 10px 20px;
    width: 100%;
    color: white;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px gray !important;
}

.shadowBL {
    background-color: #75e1ff;
    border-radius: 15px !important;
    width: 70%;
    position: absolute;
    z-index: 1;
    right: 10%;
    bottom: 90%;
}

.shadowBL2 {
    background-color: #75e1ff;
    margin: 0px !important;
    padding: 5px !important;
    font-weight: 600;
    margin: 0px;
}

.shadowR {
    background-color: #dd5b5b;
    border-radius: 15px !important;
    margin: 0px !important;
    padding: 0px 20px !important;
    margin: 0px;
    color: white;
    font-size: 20px;
}

.row {
    padding: 20px;
}

h1 {
    font-family: ShinyTitle;
    line-height: 2 !important;
}

p{
    font-family: ShinyText1;
    font-size: 20px;
    font-weight: 200;
}

.p{
    font-family: ShinyText1;
    font-size: 20px;
    font-weight: 200;
}

.pOrange{
    font-size: 20px;
    font-weight: 500;
    color: orange;
}

.red {
    color: #dd5b5b;
}

.orange {
    color: orange;
}

.blue {
    color: #48a4c5;
}

.blueL {
    color: #75e1ff;
}

.white {
    color: white;
}

img {
    height: 200px;
    background-size: cover;
}

.mt-100 {
    margin-top: 100px !important;
}

.p-20 {
    padding: 20px;
}

.buttomO {
    background-color: orange;
    border-radius: 15px !important;
    color: white;
    border: 0px;
    box-shadow: 0px 0px 5px 1px gray !important;
    padding: 5px 40px;
    margin: 0px;
}

.buttomG {
    background-color: gray;
    border-radius: 15px !important;
    color: white;
    border: 0px;
    box-shadow: 0px 0px 5px 1px gray !important;
    padding: 5px 40px;
    margin: 0px;
}

a {
    color: black;
}

.bold {
    font-weight: 500;
}
